# required for running the server

flask
flask_cors
flask_graphql
flask_sqlalchemy
graphene
graphene-file-upload
pandas
promise
PyJWT
PyMySQL
saltuser
sentry-sdk[flask]
snapshottest

# development tool requirements

black
bumpversion
coverage
flake8
pytest
pytest-flask
pytest-runner
Sphinx
tox
